<!DOCTYPE html>
<html>
	<head>
    	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  	</head>
  	<body>
		<h2>New User</h2>
		<p>Name: <%= @user.name %></p>
		<p>Email: <%= @user.email %></p>
		<p>Looking to invest <%= @user.min_investment %> to <%= @user.max_investment %> </p>
	</body>
</html>

