<div id="input_container1">
	<%= render 'form' %>
</div>
<div id="input_container2">
	<%= render 'to_form' %>
</div>

<script>
$(document).ready(function() {
	  	
/* Find browser, OS */

function get_browser(){
    var N=navigator.appName, ua=navigator.userAgent, tem;
    var M=ua.match(/(opera|chrome|safari|firefox|msie)\/?\s*(\.?\d+(\.\d+)*)/i);
    if(M && (tem= ua.match(/version\/([\.\d]+)/i))!= null) M[2]= tem[1];
    M=M? [M[1], M[2]]: [N, navigator.appVersion, '-?'];
    return M[0];
    }

browser = get_browser()

var os = (function() {
    var ua = navigator.userAgent.toLowerCase();
    return {
        isWin2K: /windows nt 5.0/.test(ua),
        isXP: /windows nt 5.1/.test(ua),
        isVista: /windows nt 6.0/.test(ua),
        isWin7: /windows nt 6.1/.test(ua),
        isWin8: /windows nt 6.2/.test(ua),
        isWin81: /windows nt 6.3/.test(ua)
    };
}());

var ua = navigator.userAgent;
var isiPad = /iPad/i.test(ua) || /iPhone OS 3_1_2/i.test(ua) || /iPhone OS 3_2_2/i.test(ua);


/* set variables accordingly */

	var top 	= 0.317 
	var height 	= 0.04

if(browser == "Chrome") {
	var top 	= 0.312 
	var height 	= 0.04
}
if(browser == "Safari") {
	var top 	= 0.317 
	var height 	= 0.04
}
if(browser == "Firefox") {
	var top		= 0.317
	var height 	= 0.04
}
if (browser == "Netscape")	{
	var top 	= 0.317
	var height 	= 0.04
}
if (browser == "MSIE")	{
	var top 	= 0.282
	var top 	= 0.317
	var height 	= 0.04
}
if (isiPad)	{
	var top 	=  0.317
	var height 	= 0.04
}
var win8_offset = {
  position : "relative",
  bottom: "40px"
};

var left 			= 0.242
var width			= 0.36
var	input_height	= 0.025
var pb_top			= 0.001
var glyphicon		= 0.022
var glyphicon_top	= 0.003
var input_top		= 0.002
var input_width		= 0.305
var inv_input_width	= 0.120
var ic2_top			= 4.05
var ic2_height		= 0.31
var ic2_width		= 0.68
var ic2_left		= 0.16

/* set initial position */
$("#input_container1").css("top", $( window ).width()   	* top);
$("#input_container1").css("height", $( window ).width()   	* height);
$("#input_container1").css("left", $( window ).width()   * left);
$("#input_container1").css("width", $( window ).width()  * width);
//$("#input_container1 .form-control input").css("height", "100%");
$("#input_container1 #progressBar").css("top", $( window ).width() * pb_top);
$(".glyphicon").css("font-size", $( window ).width() * glyphicon)
$(".glyphicon").css("top", $( window ).width() * glyphicon_top)
$("#input_container1 .form-control input").css("top", $( window ).width()   	* input_top);
$("#input_container1 .form-control input:not(.user_investment input)").css("width", $( window ).width()   	* input_width);
$("#input_container1 .form-control .user_investment input").css("width", $( window ).width()   	* inv_input_width);

$("#input_container2").css("top", $( window ).width()   	* ic2_top);
$("#input_container2").css("height", $( window ).width()   	* ic2_height);
$("#input_container2").css("left", $( window ).width()   * ic2_left);
$("#input_container2").css("width", $( window ).width()  * ic2_width);


/* set resizing position */
$( window ).resize(function() {

	$("#input_container1").css("top", $( window ).width()   	* top);
	$("#input_container1").css("height", $( window ).width()   	* height);
	$("#input_container1").css("left", $( window ).width()   * left);
	$("#input_container1").css("width", $( window ).width()  * width);
//	$("#input_container1 .form-control input").css("height", "100%");
	$("#input_container1 #progressBar").css("top", $( window ).height() * pb_top);
	$(".glyphicon").css("font-size", $( window ).width() * glyphicon)
	$(".glyphicon").css("top", $( window ).width() * glyphicon_top)
	$("#input_container1 .form-control input").css("top", $( window ).width()   	* input_top);
	$("#input_container1 .form-control input").css("width", $( window ).width()   	* input_width);
	$("#input_container1 .form-control input:not(.user_investment input)").css("width", $( window ).width()   	* input_width);

	$("#input_container2").css("top", $( window ).width()   	* ic2_top);
	$("#input_container2").css("height", $( window ).width()   	* ic2_height);
	$("#input_container2").css("left", $( window ).width()   * ic2_left);
	$("#input_container2").css("width", $( window ).width()  * ic2_width);


});



})

</script>

