<div id="input_container">
	<%= render 'form' %>
</div>

<script>

$( window ).resize(function() {
  	$("#input_container").css("top", $( window ).width()    * 0.33);
  	$("#input_container").css("left", $( window ).width()   * 0.25);
  	$("#input_container").css("width", $( window ).width()  * 0.35);
  	$("#input_container").css("height", $( window ).height() * 0.10);
  	$("#input_container .form-control").css("height", $( window ).height() * 0.08);
});

</script>

