<div id="input_container1">
	<%= render 'form' %>
</div>
<div id="input_container2">
	<%= render 'to_form' %>
</div>
<div id="input_container3">
	<%= render 'to_form' %>
</div>
	

<script>
$(document).ready(function() {
	  	
/* Find browser, OS */

function get_browser(){
    var N=navigator.appName, ua=navigator.userAgent, tem;
    var M=ua.match(/(opera|chrome|safari|firefox|msie)\/?\s*(\.?\d+(\.\d+)*)/i);
    if(M && (tem= ua.match(/version\/([\.\d]+)/i))!= null) M[2]= tem[1];
    M=M? [M[1], M[2]]: [N, navigator.appVersion, '-?'];
    return M[0];
    }

browser = get_browser()

var os = (function() {
    var ua = navigator.userAgent.toLowerCase();
    return {
        isWin2K: /windows nt 5.0/.test(ua),
        isXP: /windows nt 5.1/.test(ua),
        isVista: /windows nt 6.0/.test(ua),
        isWin7: /windows nt 6.1/.test(ua),
        isWin8: /windows nt 6.2/.test(ua),
        isWin81: /windows nt 6.3/.test(ua)
    };
}());

var ua = navigator.userAgent;
var isiPad = /iPad/i.test(ua) || /iPhone OS 3_1_2/i.test(ua) || /iPhone OS 3_2_2/i.test(ua);


/* set variables accordingly */

	var top 	= 0.317 
	var height 	= 0.04

if(browser == "Chrome") {
	var top 	= 0.317 
	var height 	= 0.04
}
if(browser == "Safari") {
	var top 	= 0.317 
	var height 	= 0.04
}
if(browser == "Firefox") {
	var top		= 0.317
	var height 	= 0.04
}
if (browser == "Netscape")	{
	var top 	= 0.324
	var height 	= 0.038
}
if (browser == "MSIE")	{
	var top 	= 0.282
	var height 	= 0.038
}
if (isiPad)	{
	var top 	=  0.207
	var height 	= 0.038
}
var win8_offset = {
  position : "relative",
  bottom: "40px"
};

var left 			= 0.242
var width			= 0.362
var	input_height	= 0.025
var pb_top			= 0.12

/* set initial position */
if (os.isWin8 || os.isWin81 ) { 
	('#input_container1 input').css(win8_offset) 
} else {
	$("#input_container1").css("top", $( window ).width()   	* top);
	$("#input_container1").css("height", $( window ).width()   	* height);
}
$("#input_container1").css("left", $( window ).width()   * left);
$("#input_container1").css("width", $( window ).width()  * width);
$("#input_container1 .form-control input").css("height", "100%");
$("#input_container1 #progressBar").css("top", $( window ).height() * pb_top);


/* set resizing position */
$( window ).resize(function() {
	if (os.isWin8 || os.isWin81 ) { 
		('#input_container1 input').css(win8_offset) 
	} else {
		$("#input_container1").css("top", $( window ).width()   	* top);
		$("#input_container1").css("height", $( window ).width()   	* height);
	}
	$("#input_container1").css("left", $( window ).width()   * left);
	$("#input_container1").css("width", $( window ).width()  * width);
	$("#input_container1 .form-control input").css("height", "100%");
	$("#input_container1 #progressBar").css("top", $( window ).height() * pb_top);
});



})

</script>

