<div class="row">
	<div class="col-xs-6 col-md-4" id="try">My content</div>
</div>
	
<script>
	$( window ).resize(function() {
  $( "#try").css("top", $( window ).width() / 3);
  $( "#try").css("left", $( window ).width() / 4);
  $( "#try").css("width", $( window ).width() / 3);
});
</script>
